.stop-scrolling {
	overflow: hidden;
}
.navbar{
	background: white;
	border-bottom: 1px solid rgb(232, 232, 232);
}
.navbar .dropdown a{
	background: none;
}
.navbar a, .navbar a:hover, .navbar a:focus, .navbar a:active {
	color: rgba(44, 52, 63, 0.6);
}
.navbar .dropdown a:hover, .navbar .dropdown a:focus, .navbar .dropdown a:active{
	background:rgb(0, 182, 204);
	color: white;
}
.dropdown-menu{
	z-index: 200 !important;
}
.lilabel{
	display: none;
	white-space: nowrap;
}
.navmenu{
	/*background: rgba(44, 52, 63, 1);*/
	background: white;
	width:8%;
	padding-top:51px;
	border-right: 1px solid rgb(232, 232, 232);
	/*border-right: 1px solid white;*/
}
.navmenu .main{
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
	background: white;
	/*border-top: 1px solid rgba(0, 0, 0, 0.3);*/
	border-right: 1px solid white;
}
.navmenu ul a{
	min-height: 30px !important;
}
.navmenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.navmenu a, .navmenu a:hover, .navmenu a:focus, .navmenu a:active {
	outline: none;
}
.navmenu a:focus, .navmenu a:hover {
	/*color:rgba(240,255,255,0.5);*/
	/*color:rgba(44, 52, 63, 1);*/
	background:rgb(0, 182, 204);
	color: white;
}
.navmenu .clickactive{
	background:rgba(0, 182, 204,0.2);
}
.navmenu a:focus .fa, .navmenu a:hover .fa {
	/*color:rgba(240,240,240,0.7);*/
	color: white;
}
.navmenu ul > li.active > a{
	background:rgb(0, 182, 204);
	color: white;
}
.fa-caret-right{
	position:absolute;
	right:5px;
}
.navmenu ul li, .navmenu ul a {
	display: block;
}
.navmenu ul a {
	padding: 8px 20px;

	color:rgba(44, 52, 63, 0.6);
	/*color:rgb(84, 90, 99);*/
}
.navmenu ul a:hover, .navmenu ul a:focus, .navmenu ul a:active {
	text-decoration: none;
}
.navmenu ul ul a:hover, .navmenu ul ul a:focus, .navmenu ul ul a:active {
	text-decoration: none;
}
.navmenu ul ul a {
	padding: 10px 30px;
}
.navmenu-item {
	padding-left: 5px;
}
.navmenu-item-icon {
	padding-right: 5px;
}
#rtlh3 small {
	transform: rotateY(180deg);
	display: inline-block;
}
.navbar-static-top,.navmenu-fixed-left{
	z-index: 1010 !important;
}
.pointer {
	cursor: pointer;
}
::-webkit-scrollbar{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.5);
}
iframe{
	width: 100% !important;
}
.page-wrapper{
	width:91%;
	color:rgba(0, 0, 0, 0.3);
	min-height:400px;
	padding-top: 51px;
	position:absolute;
	right:0;
	margin-right:0.5%;
}
.carousel {
  margin-bottom: 4rem;
  height: 500px;
  border-radius:5px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.clickable{
	cursor:pointer;
}
.huge{
	font-size: 30px;
}
.panel-green{
	border-color:#5cb85c;
}
.panel-green .panel-heading{
	border-color:#5cb85c;
	background-color:#5cb85c;
	color:#fff;
}
.panel-yellow{
	border-color:#f0ad4e;
}
.panel-yellow .panel-heading{
	border-color:#f0ad4e;
	background-color:#f0ad4e;
	color:#fff;
}
.panel-red{
	border-color:#d9534f;
}
.panel-red .panel-heading{
	border-color:#d9534f;
	background-color:#d9534f;
	color:#fff;
}
.ui-widget-header{
	background: none !important;
}
.headerColor0{
	background-color: papayawhip !important;
}
.headerColor1{
	background-color: lightgoldenrodyellow  !important;
}
.headerColor2{
	background-color: wheat !important;
}
.headerColor3{
	background-color: lightblue !important;
}
.headerColor4{
	background-color: linen  !important;
}
.headerColor5{
	background-color: beige !important;
}
.headerColor6{
	background-color: thistle !important;
}
.drop-up {
    top: auto;
    left: auto;
    right: 100% !important;
    bottom: 100% !important;
    max-height:350px;
    overflow-y: scroll; 
}
.caret-up {
	/* Safari */
	-webkit-transform: rotate(-180deg);

	/* Firefox */
	-moz-transform: rotate(-180deg);

	/* IE */
	-ms-transform: rotate(-180deg);

	/* Opera */
	-o-transform: rotate(-180deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}
#chat-panel{
	box-shadow: 0px 1px 10px rgba(0,0,0,0.5)
}
#chat-panel .panel-header{
	padding: 5px 5px 5px 10px;
}
#chat-panel .panel-body{
	height: 350px;overflow-y: scroll; display: none;
}
#chat-panel .panel-footer{
	display: none;
}
.chat{
	margin: 0;
	padding: 0;
	list-style: none;
}
.chat li{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999999;
}
.text-muted {
	color: #777;
}
