
.preloader {
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        z-index: 99999;
        background: #fff;
    }
.cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
    width: 31px;
    height: 31px;
    margin: 0 auto;
    border: 2px solid rgba(97,100,193,0.98);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 425ms infinite linear;
    -o-animation: cssload-spin 425ms infinite linear;
    -ms-animation: cssload-spin 425ms infinite linear;
    -webkit-animation: cssload-spin 425ms infinite linear;
    -moz-animation: cssload-spin 425ms infinite linear;
}
.stop-scrolling {
    padding-right: 16px;
    overflow: hidden;
}
@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

#mdl_accomodation,#mdl_reference,#mdl_bill_type,#mdl_epis_pay_mode,#bs-guarantor,#mdl_new_gl,#mdl_new_panel,#mdl_glet{
	display: none; z-index: 120;background-color: rgba(0, 0, 0, 0.3);
}
.smallmodal{
	width: 40% !important; margin: auto !important;margin-top:10% !important;
}
.mediummodal{
	width: 90% !important; margin: auto !important;margin-top:10% !important;
}
.smallmodal > .modal-content{
	border: 3px solid darkblue !important;min-height: fit-content !important;
}
tr.dtrg-group{
	font-size: 15px;
}
.uppercase, .odd, .even{
  	text-transform:uppercase
}

small, input[type=text]{
  	text-transform:uppercase
}

.td_nowhitespace{
	white-space: normal !important;
}

.modal {
  padding: 0 !important;
}

.modal .modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.modal .modal-dialog .half {
	width: 50% !important;
	height: 50% !important;
	margin: 0;
	padding: 0;
}

.modal .modal-content {
	height: auto;
	min-height: 100%;
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
}

.modal-header {
	min-height: 16.42857143px;
	padding: 5px;
	border-bottom: 1px solid #e5e5e5;
}

.modal-body {
	position: relative;
	/*padding: 10px;*/
}

.modal-backdrop{
	z-index: 99 !important;
	background-color: #fff !important;
	opacity: 1 !important;
}

.form-group{
	margin-bottom: 5px;
}

.form-mandatory{
	background-color: lightyellow;
}

.form-disabled{
	background-color: #DDD;
	color: #999;
}

.justbc{
	background-color: #dff0d8 !important;
}
label.error{
	color: rgb(169, 68, 66);
}
#mykad_reponse{
	color: rgb(169, 68, 66);
	font-weight: bolder;
}
.addressinp{
	margin-bottom: 5px;
}
.panel-heading.collapsed .fa-angle-double-up,
.panel-heading .fa-angle-double-down {
	display: none;
}

.panel-heading.collapsed .fa-angle-double-down,
.panel-heading .fa-angle-double-up {
	display: inline-block;
}

i.fa {
	/*cursor: pointer;*/
	float: right;
	/*position: absolute;
    right: 12px;
    top: 23px;*/
}

div.wrapper > div.row > div.panel.panel-default > div.panel-heading.clearfix > i.fa {
	cursor: pointer;
	/*float: right;*/
	position: absolute;
    right: 12px;
    top: 23px;
}

.ui-widget-overlay.ui-front{
	z-index: 100;
}

.search{
	width: 40%;
}

.panel-primary {
    border-color: #5bc0de;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5BC0DC;
	background-image: linear-gradient(to bottom, #5bc0de 0%, #5bc0de 100%);
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    word-wrap: break-word;
    padding-bottom: 10px !important;
    vertical-align: top !important;
}

@media screen and (max-width: 768px){
  .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	    word-wrap: break-word;
	    white-space: pre-line !important;
	    vertical-align: top !important;
	}
}

tr.yellow{
	background-color:yellow !important;
}

input.yellow{
	color: black !important;
	border-color:#9e9e00 !important;
	background-color:yellow !important;
}

a.yellow{
	color: #9e9e00 !important;
    background-color: #fdffe2 !important;
    border-color: #9e9e00 !important;
}

tr.red{
	color:white;
	background-color:red !important;
}

input.red{
	color: white !important;
	border-color:red !important;
	background-color:red !important;
}

a.red{
	color: red !important;
    background-color: #ffe5e5 !important;
    border-color: red !important;
}

tr.green{
	color:white;
	background-color:green !important;
}

input.green{
	color: white !important;
	border-color:green !important;
	background-color:green !important;
}

a.green{
	color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #3c763d !important;
}

fieldset.mycss {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

  fieldset.mycss > legend {
      font-size: 1.2em !important;
      font-weight: bold !important;
      text-align: left !important;
      width:auto;
      padding:0 10px;
      border-bottom:none;
  }

  input.myerror{
  	border-color: #b94a48 !important;
    background-position: right 5px center !important;
    background-repeat: no-repeat !important;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
  }

  .sticky_div{
  	position: fixed;
  	top: 100px;
  	left: 16px;
  }

  .panel-heading.clearfix.collapsed.position{
  	padding: 4px;
  	border: 0px;
  }

  .highlight{
  	background-color: #dfdfdf;
  	margin: 20px;
	border-radius: 10px;
  }

  table#docnote_date_tbl tr.selected{
  	background-color: #dfdfdf;
  }
  button.command-otc-episode, button.command-episode{
  	border-color: #744747;
  	padding: 1px 5px 1px 5px;
  }
.wrap{
	word-wrap: break-word;
	white-space: pre-line !important;
	vertical-align: top !important;
}
.paneldiv{
	/* padding-top: 5px !important; */
	overflow-y: auto;
	height: calc(100vh - 80px);
}
.paneldiv2{
	/* padding-top: 5px !important; */
	overflow-y: auto;
	height: 682px;
}
.epis_name_big{
	display: block;
    min-height: 30px;
    padding: 5px 10px;
    background: #dcffd7;
    border: solid #114400 1px;
    border-radius: 8px;
    overflow: visible;
    overflow-wrap: anywhere;
}
#tbl_epis_reference tr.active td{
	background-color: #e6ffe8 !important;
}
table#accomodation_table tr.disabled{
	background: #ff000014;
}
div#tab-phar input[type=text]{
	padding: 5px !important;
}
div.fail_msg{
	padding: 2px;
    color: darkred;
}
.ui-jqgrid-bdiv label{
	margin: 5px 0px 0px 0px;
}
/*.ui-jqgrid-bdiv{
	overflow-x: hidden !important;
}*/
div#jqGrid_ordcom_panel a.input-group-addon.btn.btn-primary{
	padding: 6px;
    color: white;
}
div#jqGrid_ordcom_panel div.ui-jqgrid-bdiv{
	overflow-x: hidden !important;
}
label.oe_phar_label{
	width: 15% !important;
	margin: 0px;
}
div.oe_phar_div{
    width: 84% !important;
    display: inline-table !important;
    padding-bottom: 4px;
}
div.panel.jqgrid_detail{
    background: #e6ffff;
    margin: 10px 5px;
    width: 49%;
}
div.panel.jqgrid_detail div.panel-body{
	padding: 5px 15px;
}
div.panel.jqgrid_detail span.label_d{
	color: #727272;
    margin-right: 10px;
    margin-left: 10px;
}
div.panel.jqgrid_detail span.label_p{
    display: inline-block;
    min-width: 120px;
}
div.jqgrid_detail_dose input[type=text]{
	height: 25px !important;
}
form#form_medc .form-control{
	display: unset !important;
  width: unset !important;
  height: 26px !important;
}
form#.form_medc p{
	margin: 12px !important;
}
.sistole{color: blue}
.diastole{color: blue}
.pulse{color: red}
.temp{color: darkorange}
.legendtepi{position:absolute;left:-200px;color:#666;font-size:small;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	writing-mode: lr-tb;
	width: 40%;
}
#tooltip hr { 
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: black;
} 
#placeholder_bpgraph{
	line-height: 1;
}
#placeholder2_bpgraph .y1Axis, #placeholder3_bpgraph .y1Axis{
	line-height: 1;
}

#doctornote_bpgraph{
	background-repeat: unset;
	background-image: linear-gradient(to bottom, #8BC34A 0%, #a0c772 100%);
    color: white;
    border-color: #009688;
    position: absolute;
    top: -2px;
    right: 4px;
}
#doctornote_iograph{
	background-repeat: unset;
	background-image: linear-gradient(to bottom, #8BC34A 0%, #a0c772 100%);
    color: white;
    border-color: #009688;
    position: absolute;
    right: 25px;
}
#doctornote_medc{
	background-repeat: unset;
	background-image: linear-gradient(to bottom, #5ecddb 0%, #00BCD4 100%);
    color: white;
    border-color: #2196F3;
}
#referLetter, #referLetterClientProgNote{
	background-repeat: unset;
    background-image: linear-gradient(to bottom, #fde403 0%, #FFC107 100%);
    color: white;
    border-color: #FF9800;
}
.myformgroup{
	display: -webkit-box;
	margin-bottom: 15px;
}
.form-horizontal .myformgroup{
	margin-right: -15px;
	margin-left: -15px;
}
.search2{
    margin-right: 2% !important;
}
#grid-command-buttons-header,#grid-command-buttons-header div.actionBar{
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.select2-container{
	display: unset;
}
span.glyphicon.glyphicon-trash{
	color: indianred;
}
div#ordcom_div_cyclebill{
	position: absolute;
    right: 30px;
    top: -20px;
}
div#ordcom_div_label{
	position: absolute;
    right: 30px;
    top: -0px;
}
div#ordcom_div_cyclebill > a,div#ordcom_div_label > a{
	display: inline-block;
    padding: 2px;
    cursor: pointer;
}
.table>tbody>tr.tr_pdclass>td,.table>tbody>tr.tr_pdclass>td>a>span.glyphicon,.table>tbody>tr.tr_pdclass>td>span.help-block{
	color: darkred; !important;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}